
.container{
    border: 1px solid black;
    width: 300px;
    margin: 200px auto;
}

.container h3{
    text-align: center;
}

.container p{
    margin: 0;
}

.user{
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}

.pass{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.login{
    display: block;
    margin: 0 10px 10px auto;
}
